{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "globals": {},
  "extends": ["airbnb-base", "prettier", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-warning-comments": "warn",
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["webpack.*.js"]
      }
    ],
    "no-underscore-dangle": "error"
  }
}
